body {
  background-color: #162447;
}

a {
  color: #2cb67d;
}

.App {
  width: 100vw;
  height: 100%;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
